# Infra
MONGO_URI=mongodb://localhost:27017/auth_db
KAFKA_BROKER=localhost:9092

# Auth Service
AUTH_PORT=3001
JWT_SECRET=super-secret-key
DATABASE_URL=mongodb://localhost:27017/auth_db?authSource=admin

# Frontend (app-main)
NEXT_PUBLIC_API_URL=http://localhost:3001
